:root {
  /* Color Vars */
  --primary1-color: #cda274;
  --primary2-color: #292f36;
  --primary3-color: #f4f0ec;
  --text-color: #4d5053;
  --white-color: white;
  /* Font vars */
  --body-font: "Jost";
  --title-font: "DM Serif Display";
}

body {
  font-family: var(--body-font);
  font-weight: 400;
}

.unstyled-list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.icon-vector {
  fill: none;
  stroke: var(--primary1-color);
  stroke-width: 3px;
}

.text {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.subtitle {
  font-family: var(--title-font);
  font-size: 50px;
  line-height: 1.25;
  color: var(--primary2-color);
  letter-spacing: 0.02em;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px 48px;
  background-color: var(--primary2-color);
  border-radius: 18px;
  color: var(--white-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  border: 0px;
  font-family: var(--body-font);
}

/* Header stilization */
.header-nav {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  width: 70%;
  max-width: 1200px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header-nav-item {
  display: flex;
  flex: 1 0 50%;
}

.header-nav-item:first-child {
  gap: 10px;
  width: 40%;
  font-family: var(--title-font);
  color: var(--primary2-color);
  font-size: 35px;
  line-height: 1.25;
}
.header-nav-item:last-child {
  gap: 40px;
  width: 60%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.header-list-item {
  color: var(--primary2-color);
  font-size: 20px;
  line-height: 1.25;
}

.header-list > li > svg {
  position: relative;
  top: 3px;
}

/* Hero section */
.hero {
  display: flex;
}

.hero-inner {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-basis: 1920px;
  height: 851px;
  background-image: url("../images/background/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position-y: 60%;
  border-bottom-left-radius: 291px;
  align-items: center;
}

.hero-container {
  margin-left: 16%;
  display: flex;
  flex-direction: column;
  gap: 9px;
  flex-basis: 567px;
}

.hero-title {
  font-family: var(--title-font);
  font-size: 85px;
  line-height: 1.25;
  color: var(--primary2-color);
}

.hero-button {
  gap: 10px;
  margin-top: 12px;
  max-width: 225px;
}

/* Plac section */
.plan {
  display: block;
  margin: 400px auto 200px auto;
  max-width: 1158px;
}

.plan-list {
  display: flex;
  gap: 42px;
}

.plan-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 1 0 30%;
}

.plan-link {
  display: flex;
  margin-top: 32px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.plan-text {
  text-align: center;
}

/* Creation section */
.creation {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
}

.creation-container {
  display: flex;
  gap: 75px;
}

.creation-text {
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.creation-icon {
  width: 32px;
  height: 32px;
  fill: none;
  stroke: var(--primary1-color);
}

.creation-contact {
  display: flex;
  margin: 12px 0px 14px 0px;
  gap: 15px;
  align-items: center;
}

.creation-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93px;
  height: 93px;
  background-color: var(--primary3-color);
  border-radius: 50%;
}

.creation-link:hover {
  cursor: pointer;
}

.creation-contact-number {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.creation-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px 31px;
  gap: 12px;
  width: 250px;
}

.creation-image {
  border-radius: 0px 326.5px 0px 123px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

/* Review section */
.review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary3-color);
  padding: 88px 25px;
  gap: 38px;
  max-width: 1200px;
  margin: 200px auto;
  border-radius: 70px;
}

.review-title {
  display: block;
  max-width: 547px;
  text-align: center;
}

.review-list {
  display: flex;
  gap: 20px;
}

.review-item {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  flex: 1 0 25%;
  padding: 53px 37px;
  border: none;
  border-radius: 20px;
}

.review-item-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.review-names {
  display: flex;
  gap: 23px;
}

.review-names-name {
  display: block;
  color: var(--primary2-color);
  font-size: 25px;
  font-family: var(--title-font);
  flex: 1 0 100%;
}

.review-image {
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

/* Projects section */

.projects-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  gap: 90px;
}

.projects-item1 {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 737px;
}

.projects-text {
  text-align: center;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}

.projects-list-item {
  flex: 1 0 40%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.projects-subtitle {
  font-size: 25px;
  margin-bottom: 4px;
}

.projects-item-div {
  display: flex;
  justify-content: space-between;

  margin-right: 32px;
}

.projects-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  width: 0.5em;
  stroke: var(--primary2-color);
  fill: none;
}

.projects-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--primary3-color);
}

.projects-link:hover .projects-icon {
  stroke: var(--primary1-color);
}

.projects-link:hover {
  cursor: pointer;
}

.projects-image1,
.projects-image2,
.projects-image3,
.projects-image4 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.projects-image1 {
  border-radius: 80px 0px 0px 0px;
}

.projects-image2 {
  border-radius: 0px 80px 0px 0px;
}

.projects-image3 {
  border-radius: 0px 0px 0px 80px;
}

.projects-image4 {
  border-radius: 0px 0px 80px 0px;
}

/* Numbers section */
.numbers-section {
  background-color: var(--primary3-color);
  margin-top: 200px;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-bottom: 400px;
}

.numbers-container {
  display: block;
  max-width: 1082px;
  margin-left: auto;
  margin-right: auto;
}

.numbers-list {
  display: flex;
}

.numbers-item {
  border-right: 1px solid var(--primary1-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.numbers-item:first-child {
  padding-left: 0px;
}

.numbers-item:last-child {
  border-right: none;
  padding-right: 0;
}

.numbers-item .text {
  display: block;
  text-align: center;
  width: 100%;
}

.numbers-subtitle {
  color: var(--primary1-color);
  margin-bottom: 16px;
  font-size: 85px;
}

/* Articles & News */

.articles-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  gap: 12px;
  align-items: center;
}

.article-subtitle {
  text-align: center;
}

.article-text {
  text-align: center;
  display: block;
  max-width: 811px;
}

.articles-list {
  display: flex;
  width: 100%;
  gap: 27px;
  margin-top: 40px;
}

.articles-list-item {
  flex: 1 0 30%;
  padding: 21px;
  max-width: 340px;
  border: 1px solid #e7e7e7;
  border-radius: 62px;
}

.articles-list-item > img {
  border-radius: 45px 45px 0px 0px;
}

.article-list-subtitle {
  font-size: 25px;
  max-width: 305px;
  margin-top: 21px;
  margin-bottom: 30px;
}

.articles-item-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles-list-item:hover {
  background-color: var(--primary3-color);
}
.articles-list-item:hover .projects-link {
  background-color: var(--white-color);
}

/* Contact section */

.contact-container {
  display: flex;
  flex-direction: column;
  margin: 200px auto 200px auto;
  max-width: 1200px;
  gap: 11px;
  justify-content: center;
  align-items: center;
  background-color: var(--primary2-color);
  padding: 80px 0;
  border-radius: 70px;
}

.contact-subtitle {
  color: vaR(--white-color);
}

.contact-text {
  color: var(--white-color);
  margin-bottom: 21px;
}

.contact-button {
  background-color: var(--primary1-color);
  color: var(--white-color);
}

.contact-icon-vector {
  stroke: var(--primary2-color);
  margin-left: 11px;
}

/* Footer */
.footer-container {
  margin: 0 auto 134px auto;
  display: flex;
  max-width: 1200px;
  gap: 100px;
}

.footer-item:first-child {
  max-width: 300px;
}

.footer-item:last-child {
  max-width: 250px;
}

.footer-heading {
  font-family: var(--title-font);
  font-size: 25px;
  color: var(--primary2-color);
  line-height: 1.25;
  margin-bottom: 9px;
}

.footer-link {
  font-size: 22px;
  line-height: 3;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.footer-link:hover {
  cursor: pointer;
}

.footer-logo {
  font-size: 40px;
}

.footer-div {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 18px;
}

.footer-div > svg {
  position: relative;
  bottom: 4px;
}

.copyright {
  display: flex;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  padding: 40px 0 45px 0;
  justify-content: center;
}

.copyright-text1 {
  border-right: 1.5px solid var(--text-color);
  padding-right: 10px;
}
.copyright-text2 {
  padding-left: 10px;
}
* {
  padding: 0;
  margin: 0;
}
