:root {
  /* Color Vars */
  --primary1-color: #cda274;
  --primary2-color: #292f36;
  --primary3-color: #f4f0ec;
  --text-color: #4d5053;
  --white-color: white;
  /* Font vars */
  --body-font: "Jost";
  --title-font: "DM Serif Display";
}
